<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Conferma Trasferimento</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div align="right">
		<a th:href="@{/GoToHomePage}">Back to Home Page</a>
	</div>
	<h1>Transfer gone well</h1>
	<h2>Addressee info</h2>
	<p> Bank account ID of addresse is <span th:text="${destBankAccountID}"></span> </p>
	<p> User ID of addresse is <span th:text="${destuserid}"></span> </p>
	
	<h2>Your info</h2>
	<p> Bank account ID <span th:text="${bankAccountID}"></span> </p>
	<p> User ID is <span th:text="${userid}"></span> </p>
	<p> Actual balance:  <span th:text="${balance}"></span> $ </p>
	
	

</body>
</html>