<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1 th:text = "${'Welcome '+ session.user.name+ ' '+ session.user.surname}"></h1>
	<h2 th:text = "${'Your userID is ' + session.user.id}"> </h2>
	
	<table align="center">
	<thead>
			<tr>
				<th>Bank Account ID</th>
				<th>Saldo</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${conti}">
				<td th:text="${c.id}"></td>
				<td th:text="${ c.saldo}"></td>
				<td><a th:href="@{/GetConto(contoid=${c.id})}">Bank Account Status</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>